/* For Homepage Styling */
.container-div {
    width: 100%;
    height: calc(100% - 55px);
    background-image: url("../assets/album/Background_test.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: scroll;
    position: absolute;
    z-index: 0;
    display: flex;
}

.fullscreen_display_container{
    top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../assets/album/Background_test.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    display: flex;
    z-index: 1;
}

.fullscreen_image{
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto;
}

.controls_bar_container{
    height: 50px;
    width: 220px;
    bottom: 10px;
    left: calc(50% - 110px);
    position: absolute; 
    z-index: 1000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Album controls and pagination animation. */

.album_controls{
    height: 48px;
    width: 48px;
    overflow: hidden;
    text-align: center;
    color: rgba(0,0,0,0);
}

.rotate_card{
    background-image: url("../assets/button/rotate.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.next_card{
    background-image: url("../assets/button/back.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: rotateY(180deg);
}

.previous_card{
    background-image: url("../assets/button/back.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.rotate_90ccw_animation {
    animation: rotate_90ccw 0.5s;
    animation-fill-mode: forwards;
}

@keyframes rotate_90ccw {
    from {
        transform: rotateZ(0);
    }
    to {
        transform: rotateZ(-90deg);
    }
}

.rotate_return_animation {
    animation: rotate_90return 0.5s;
    animation-fill-mode: forwards;
}

@keyframes rotate_90return {
    from {
        transform: rotateZ(-90deg);
    }
    to {
        transform: rotateZ(0);
    }
}

/* Pagination Animation Experiementation Section */
.transition_screen{
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.previous_page_controls{
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.next_page_controls{
    margin: 0px;
    padding: 0px;
    top: 0px;
    right: 0px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.previous_page_controls:hover{
    background-color: rgba(74, 60, 37, 0.35);
}

.next_page_controls:hover{
    background-color: rgba(74, 60, 37, 0.35);
}

.next_page_control_button{
    transform: rotate(90deg); 
    width: 50px; 
    height: 50px;
}

.previous_page_control_button{
    transform: rotate(-90deg); 
    width: 50px; 
    height: 50px;
}

.trscreen_inactive{
    opacity: 0;
    z-index: -10;
}

.trscreen_active{
    opacity: 1;
    z-index: 100;
}

.transition_letter_image{
    width: 20%;
}

@keyframes sld_in_bot {
	from {
		opacity: 0;
        transform: translateY(100%);
	}
	to {
		opacity: 1;
        transform: translateY(0%);
	}
}

@keyframes scale_up_center {
	from {
		transform: scale(1);
	}

	to {
		transform: scale(50);
	}
}

.animation_01_start01 {
    animation: sld_in_bot 1s ease 0s 1 normal forwards;
    
}

.animation_01_end02 {
    animation: scale_up_center 1s ease 0.5s 1 normal forwards;
}


/* Shelf Styling and Misc. */

.shelf_container{
    flex-grow: 8;
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
}

.hide_shelf{
    top: 100%;
    display: none;
    opacity: 0;
}

.shelf{
    width: fit-content;
    margin: auto;
    overflow: visible;
}

.card_on_display{
    height: 200px;
    width: 142px;
    background-color: white;
    margin-left: 5px;
    margin-right: 5px;
}

.shelf_rack{
    width: 110%;
    height: 24px;
    background-color: white;
    border: 1px solid black;
    transform: translateX(-5%);
}

.shelf_rack_bg01{
    background-image: url("../assets/album/Plank01.webp");
    background-size: 100% 100%;
}

.shelf_rack_bg02{
    background-image: url("../assets/album/Plank02.webp");
    background-size: 100% 100%;
}

.shelf_rack_bg03{
    background-image: url("../assets/album/Plank03.webp");
    background-size: 100% 100%;
}

.shelf_rack_bg04{
    background-image: url("../assets/album/Plank04.webp");
    background-size: 100% 100%;
}