html, body{
   width: 100%;
   height: 100%;
   margin: 0;
}

/* Navigation Bar, from https://www.w3schools.com/css/css_navbar.asp */
/* Add a black background color to the top navigation */

.navigation_bar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation_bar ul{
    display: flex;
    text-align: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navigation_bar li{
    min-width: 80px;
}

.navbar_horz {
    vertical-align: middle;
}

.navbar_vert ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid #555;
}

.navbar_link_vert {
    border-bottom: 1px solid #555;
    text-align: center;
}

.navbar_link_vert li:last_child {
    border-bottom: none;
}

.navbar_link_vert li a {
  display: block;
  width: 60px;
}

/* Change the link color on hover */
.navbar_link_vert a:hover {
  background-color: #555;
  color: white;
}

.active {
  background-color: #04AA6D;
  color: white;
}

.navbar_link_horz {
    display: inline;
    float: left;
    border-right: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

li:last_child .navbar_link_horz {
    border-right: none;
}

li a{
    display: block;
    padding: 8px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    letter-spacing: 0.5px;
}

li a:hover{
    background-color: #AAA;
    color: white;
}

.color_option_01 {
    background-color: #36F1CD;
}
.color_option_02 {
    background-color: #758CD6;
}
.color_option_03 {
    background-color: #B8B8FF;
}
.color_option_04 {
    background-color: #ABCFFF;
}
.color_option_05 {
    background-color: #4B82A2;
}
.color_option_06 {
    background-color: #204852;
}


/* For Google Fonts and hiding / showing texts */

@font-face {
  font-family: noto-sans-fallback;
  src: local("Arial");
  size-adjust: 60.85099821%;
  ascent-override: 164.3358416%;
  descent-override: 57.51754455%;
  line-gap-override: 16.43358416%;
}

@font-face {
  font-family: noto-sans-android-fallback;
  src: local("Roboto");
  size-adjust: 55.5193474%:
  ascent-override: 180.1173909%;
  descent-override: 63.04108683%;
  line-gap-override: 18.01173909%;
}

.default_fallback_font {
    font-family: noto-sans-fallback, sans-serif;
    font-size: 30px;
    font-optical-sizing: auto;
    font-style: normal;
}

.noto_sans_jp_p {
  font-family: "Noto Sans JP", noto-sans-fallback, noto-sans-android-fallback, sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.m-plus-rounded-1c-regular-neutral {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-non-jp-texts-neutral {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.mochiy-pop-one-regular-JP-only-impact {
  font-family: "Mochiy Pop One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* For hiding BGM player and SFX players.
Use pointer-events: none to disable the mouse control completely.
*/

.hidden_audio_player{
    z-index: -10;
    position: absolute;
    pointer-events: none; 
}

.navbar_mute{
    margin-left: 20px;
}

.mute_button{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    border: none;
    position: relative;
    width: 50px;
    height: 50px;
}

.sound_off {
    background-image: url("../assets/button/Music_off.png");
}

.sound_on {
    background-image: url("../assets/button/Music.png");
}

.navbar_horz #volume-control{
    object-fit: cover;
}
